* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

/* ===== HEADER GRID ===== */
.header {
  border-bottom: 1px solid #eee;
  background-color:#eee;
}

.header-inner {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 140px 1fr auto;
  align-items: center;
  height: 56px;
}

/* LOGO */
.logo {
  height: 24px;
}

/* MENU */
.menu {
  display: flex;
  gap: 28px;
}

.menu a {
  font-size: 13px;
  font-weight: 500;
  color: #9ca3af;
  text-decoration: none;
}

.menu a.active {
  color: #000;
}

/* LOGIN */
.login-btn {
  height: 32px;
  padding: 0 16px;
  border-radius: 7px;
  border: 1px solid #e5e7eb;
  background: #fff;
  font-size: 12px;
}

/* ===== MAIN ===== */
.main {
  margin-top: 48px;
}

.main-inner {
  align-items: flex-start;
}

/* TITLE */
.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* CONVERTER */
.converter {
  display: flex;
  gap: 120px; /* Figma-dakı real məsafə */
}

.box {
  width: 390px;
  padding: 10px;
}

.label {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 8px;
}

/* TABS */
.tabs {
  display: flex;
  height: 44px;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
}

.tab {
  flex: 1;
  border: none;
  background: #fff;
  font-size: 14px;
  color: #9ca3af;
  cursor: pointer;
  border-right: 1px solid #e5e7eb;
}

.tab.active {
  background: #7c3aed;
  color: #fff;
  font-weight: 500;
}

/* CARD */
.card {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 24px;
}

.card input {
  width: 100%;
  border: none;
  font-size: 56px;
  font-weight: 700;
}

.card span {
  display: block;
  margin-top: 16px;
  font-size: 14px;
  color: #d1d5db;
}